.mouth {
    position: absolute;
    width: 100px;
    height: 2px;
    background-color: black;
    border: 3px solid black;
    border-radius: 10px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 35%;
}

.sadMouth {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 35%;
    overflow: hidden;
}

.sadMouth::after {
    position: absolute;
    left: 50%;
    top: 110%;
    transform: translate(-50%, -50%);
    content: "";
    display: block;
    width: 80%;
    height: 80%;
    border-radius: 50%;
    border: 6px solid black;
}

@media (min-width: 700px) {
    .mouth {
        width: 200px;
    }

    .sadMouth {
        width: 200px;
        height: 200px;
    }
}
