.pupil {
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: black;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: 1px solid black;
    top: 50%;
    left: 50%;
}
